@charset "UTF-8";
@font-face {
    font-family: "GongGothicMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Jal_Onuel";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.top {
    color: white;
    display: block;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}
#app_title {
    font-size: 2rem;
    font-family: "GongGothicMedium";
}
#app_power {
    font-size: 0.8rem;
    font-family: "Jal_Onuel";
}
